*{
    padding: 0;
    margin: 0;
}
.heading{
    color: lightseagreen;
    border: 1px solid lightgray;
    padding: 20px;
    box-shadow: 2px 3px lightskyblue;
    border-radius: 50%;
}
.container{
    padding-top: 20px;
}
.main-div{
    margin-bottom: 100px;
    padding: 20px;
}
.navbar{
    background-color: white;
    padding: 10px 100px;
    box-sizing: border-box;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-items li{
    list-style-type: none;
    margin-left: 50px;
}

.nav-items li:hover{
    cursor: pointer;
}
.content-div{
    margin-top: 50px;
    box-sizing: border-box;
}

.hidden{
      display: none;
  }

.greeting{
    padding-top: 200px;
    text-align: center;
    color: rgb(19, 167, 226); 
    font-size: 40px;
}


.projectForm{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background-color: lightskyblue;
    
}

.newProject{
    width: 80%;
    margin-right: 20px;
    border-radius: 8px;
    height: 30px;
}

.selProject{
    width: 80%;
    height: 30px;
    border-radius: 5px;
}
.todoForm{
    background-color: rgba(135, 207, 235, 0.644);
    padding: 10px;
    box-sizing:border-box;
    border-radius: 5px;
    box-shadow: 5px 10px 10px lightgray;
}

.img-div{
    margin: 100px 0 0 0;
    width: 800px;
    height: 400px;
}

.projectItem{
    border: 1px solid skyblue;
    padding: 5px;
    margin: 10px 0;
    width: 95%;
    border-radius: 5px;
    box-shadow: 2px 4px 4px lightgray;
    transition: all 0.5s;
    overflow: hidden;
}
.todoItem{
    border: 1px solid black;
    background: lightgreen;
    padding: 5px;
    margin: 10px auto;
    width: 95%;
    height: 100px;
    box-shadow: 2px 4px 4px lightgray;
}

.todoPanel{
    border: 1px solid skyblue;
    padding: 10px; 
    margin: 10px auto;
    border-radius: 5px;
    height: 500px;
    overflow: scroll;
}

.projectItem:hover{
transform: scale(1.05);
cursor: pointer;
}

.sub-heading{
    font-size: 30px;
    text-align: center;
    border: 1px solid rgb(192, 106, 106);
    background-color:rgba(255, 68, 0, 0.849);
    color: white;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 2px 4px 4px lightgray;
}
.active{
    background-color: skyblue;
}
.errors{
    color: red;
}
